

<div class="lplh-42"><span style="color:#ffffff;"><strong><font face="lato"><span style="font-size: 48px;">探索未</span><span style="font-size: 72px;">知</span><span style="font-size: 48px;">，创造奇迹</span></font>
    </strong>
    </span>
    <p class="lplh-22"><span style="color:#ffffff;"><font face="lato"><span style="font-size: 22px;">我们希望你，与世界分享你的行动和经验；希望你能够用最短的时间，在这里得到你最想获得的知识和技能，获得一个多元认知的世界。像海盗一样勇于探险，凡出海绝不空手而归。</span></font>
    </span>
</p>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-189" style="position: relative; width: 960px; height: 485px; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; left: 0px; top: 0px; border-style: none; background: url(&quot;/assets/5f9131e4-a4b0-429e-bd86-b97c748572e4/d0efed7b-hm599jibaqs-cynthia-del-rio.jpg&quot;) left top / cover no-repeat rgba(80, 13, 101, 0.470588);"><div class="lp-pom-video-background" id="lp-pom-block-189-video-background" data-ratio="1.7" style="display: none;"><div class="lp-pom-video-background-image" id="lp-pom-block-189-video-background-image"></div></div><div class="lp-pom-color-overlay" style="position: absolute; width: 100%; height: 100%; background: rgba(80, 13, 101, 0.470588); border-radius: 3px;"></div><div class="lp-pom-block-content" style="width: 100%; height: 100%;"></div></div>
<div class="lp-pom-video-background" id="lp-pom-block-189-video-background" data-ratio="1.7" style="display: none;"><div class="lp-pom-video-background-image" id="lp-pom-block-189-video-background-image">
</div>
</div>
<div class="lp-pom-video-background-image" id="lp-pom-block-189-video-background-image"></div>
